.logoChat{
	color:red;
}

.logoTo{
	color:green;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.container {
	margin-top: 80px;
}

.containerNavbar{
	padding-left: 100px;
	padding-right: 100px;
}

.containerFooter {
  width: auto;
  max-width: 680px;
  padding: 0 0px;
  margin: 0 auto;
}
.containerFooter .text-muted {
  margin: 20px 0;
  text-align: center;
}

#navbar-left {
	float: left;
}

#navbar-right {
	height:50px;
	float:right;
	text-align: center;
	width: auto;
	margin-top: 0px;
}

#account-name {
	color: green;
}

#account-menu {
	width: 300px;
	height;
}

.row{
	width: 300px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.container {
	width: 50%;
}

.container-signup {
	margin-top:35px;
}

.button-account {
	margin-top: 11px;
}

.login-form {
	margin-top: 40px;
	width: 100%;	
}

.form-horizontal{
	margin-left: 200px;
}

.category-account-info{
	margin-top: 40px;
	margin-bottom: 50px;
}

