<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home not signed In</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="../css/style.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

		<div class="container">
			<div th:insert="../fragments/header :: header-unsigned" />
			<div class="hero-unit">
				<div class="page-header">
		          <h1>Welcome</h1>
		        </div>
				<p class="lead">Here is the ChatTo application!<br /> Share your toughts about the public transport system in Turin!</p>
				<div class="container-signup">
					<p>Get started quickly by signing up.</p>
					<p>
						<a href="../registration" th:href="@{../registration}"
							class="btn btn-large btn-success">Sign up</a>
					</p>
				</div>
			</div>
		</div>

	<div th:insert="../fragments/footer :: footer" />

</body>
</html>