<!DOCTYPE html>
<html>
<head>
<title>Home signed In</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="../css/style.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:insert="../fragments/header :: header-signed"/>

	<div class="container">
		<div class="hero-unit">
			<h1>Welcome USER</h1>
			<p>Here is the ChatTo application, share your thoughts about the public transport system in Torino!</p>
		</div>
	</div>

	<div th:insert="../fragments/footer :: footer"/>

</body>
</html>